In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os

In [2]:
import sqlite3
conn = sqlite3.connect('data/tn.movie_budgets.csv.gz')
cur = conn.cursor()

In [3]:
#realease date, movie, budget, worldwide gross
df10 = pd.read_csv('data/tn.movie_budgets.csv.gz')
df10_new = pd.read_csv('data/tn.movie_budgets.csv.gz')
df10.head()

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross
0,1,"Dec 18, 2009",Avatar,"$425,000,000","$760,507,625","$2,776,345,279"
1,2,"May 20, 2011",Pirates of the Caribbean: On Stranger Tides,"$410,600,000","$241,063,875","$1,045,663,875"
2,3,"Jun 7, 2019",Dark Phoenix,"$350,000,000","$42,762,350","$149,762,350"
3,4,"May 1, 2015",Avengers: Age of Ultron,"$330,600,000","$459,005,868","$1,403,013,963"
4,5,"Dec 15, 2017",Star Wars Ep. VIII: The Last Jedi,"$317,000,000","$620,181,382","$1,316,721,747"

Note: Should we take into account profit?

In [4]:
# # Check data types for $$ columns
df10['domestic_gross'].dtypes
# df10['worldwide_gross'].dtypes
# df10['production_budget'].dtypes

dtype('O')

In [5]:
# # Coerce $$ columns into floats
# df10['production_budget'] = pd.to_numeric(df10['production_budget'],errors='coerce')
# df10['domestic_gross'] = pd.to_numeric(df10['domestic_gross'],errors='coerce')
# df10['worldwide_gross'] = pd.to_numeric(df10['worldwide_gross'],errors='coerce')

In [6]:
# # Check floats - CONFIRMED
# df10['production_budget'].dtypes

In [7]:
# # Add a column called Profit
# df10['Profit'] = df10.production_budget + df10.worldwide_gross
# df10.head()

In [8]:
# df10['domestic_gross'].dtypes
# # df10['worldwide_gross'].dtypes
# # df10['production_budget'].dtypes

In [9]:
# Convert release_date to date stamp?
# Alternative: 
# This function changes column to only include last for digits of the string, in this case date
df10_new["release_date"] = df10_new.release_date.apply(lambda date: int(date[-4:]))

In [10]:
# OG df10
df10['release_date']

0       Dec 18, 2009
1       May 20, 2011
2        Jun 7, 2019
3        May 1, 2015
4       Dec 15, 2017
            ...
5777    Dec 31, 2018
5778     Apr 2, 1999
5779    Jul 13, 2005
5780    Sep 29, 2015
5781     Aug 5, 2005
Name: release_date, Length: 5782, dtype: object

In [11]:
# new df10
df10_new['release_date']

0       2009
1       2011
2       2019
3       2015
4       2017
        ...
5777    2018
5778    1999
5779    2005
5780    2015
5781    2005
Name: release_date, Length: 5782, dtype: int64

In [12]:
# subset of movies made within the last 10 years
df10_10yrs = df10_new[df10_new['release_date'] > 2010]
df10_10yrs.head()

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross
1,2,2011,Pirates of the Caribbean: On Stranger Tides,"$410,600,000","$241,063,875","$1,045,663,875"
2,3,2019,Dark Phoenix,"$350,000,000","$42,762,350","$149,762,350"
3,4,2015,Avengers: Age of Ultron,"$330,600,000","$459,005,868","$1,403,013,963"
4,5,2017,Star Wars Ep. VIII: The Last Jedi,"$317,000,000","$620,181,382","$1,316,721,747"
5,6,2015,Star Wars Ep. VII: The Force Awakens,"$306,000,000","$936,662,225","$2,053,311,220"

In [13]:
df10_10yrs.head()

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross
1,2,2011,Pirates of the Caribbean: On Stranger Tides,"$410,600,000","$241,063,875","$1,045,663,875"
2,3,2019,Dark Phoenix,"$350,000,000","$42,762,350","$149,762,350"
3,4,2015,Avengers: Age of Ultron,"$330,600,000","$459,005,868","$1,403,013,963"
4,5,2017,Star Wars Ep. VIII: The Last Jedi,"$317,000,000","$620,181,382","$1,316,721,747"
5,6,2015,Star Wars Ep. VII: The Force Awakens,"$306,000,000","$936,662,225","$2,053,311,220"

In [15]:
# subset of movies made within the last 5 years
df10_5yrs = df10_new[df10_new['release_date'] > 2015]
df10_5yrs.head()

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross
2,3,2019,Dark Phoenix,"$350,000,000","$42,762,350","$149,762,350"
4,5,2017,Star Wars Ep. VIII: The Last Jedi,"$317,000,000","$620,181,382","$1,316,721,747"
6,7,2018,Avengers: Infinity War,"$300,000,000","$678,815,482","$2,048,134,200"
8,9,2017,Justice League,"$300,000,000","$229,024,295","$655,945,209"
11,12,2018,Solo: A Star Wars Story,"$275,000,000","$213,767,512","$393,151,347"

In [16]:
df10_new.head()

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross
0,1,2009,Avatar,"$425,000,000","$760,507,625","$2,776,345,279"
1,2,2011,Pirates of the Caribbean: On Stranger Tides,"$410,600,000","$241,063,875","$1,045,663,875"
2,3,2019,Dark Phoenix,"$350,000,000","$42,762,350","$149,762,350"
3,4,2015,Avengers: Age of Ultron,"$330,600,000","$459,005,868","$1,403,013,963"
4,5,2017,Star Wars Ep. VIII: The Last Jedi,"$317,000,000","$620,181,382","$1,316,721,747"

## why am I only seeing id and release_date here?

In [17]:
df10_new.std()

id              28.821076
release_date    12.724386
dtype: float64

In [20]:
df10_new['production_budget']

0       $425,000,000
1       $410,600,000
2       $350,000,000
3       $330,600,000
4       $317,000,000
            ...
5777          $7,000
5778          $6,000
5779          $5,000
5780          $1,400
5781          $1,100
Name: production_budget, Length: 5782, dtype: object

In [28]:
df10_test = pd.isnull(df10_year).sum()
df10_test

id                   0
release_date         0
movie                0
production_budget    0
domestic_gross       0
worldwide_gross      0
dtype: int64

In [ ]:
# What if we look at time of year of release? By month? By season?

In [20]:
df10_year.corr()

                    id  release_date
id            1.000000     -0.011652
release_date -0.011652      1.000000