In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
plt.style.use('seaborn')
import os

In [ ]:
import src.tools as tl

In [8]:
##list files from data folder 

!ls data

bom.movie_gross.csv.gz       imdb.title.ratings.csv.gz
imdb.name.basics.csv.gz      rt.movie_info.tsv.gz
imdb.title.akas.csv.gz       rt.reviews.tsv.gz
imdb.title.basics.csv.gz     tmdb.movies.csv.gz
imdb.title.crew.csv.gz       tn.movie_budgets.csv.gz
imdb.title.principals.csv.gz

In [10]:
df1 = pd.read_csv('data/imdb.name.basics.csv.gz')
df2 = pd.read_csv('data/bom.movie_gross.csv.gz')
df3 = pd.read_csv('data/imdb.title.akas.csv.gz')
df4 = pd.read_csv('data/imdb.title.basics.csv.gz')
df5 = pd.read_csv('data/imdb.title.principals.csv.gz')
df6 = pd.read_csv('data/imdb.title.ratings.csv.gz')
df9 = pd.read_csv('data/tmdb.movies.csv.gz')
df10 = pd.read_csv('data/tn.movie_budgets.csv.gz')


df7 = pd.read_csv('data/rt.reviews.tsv.gz', delimiter='\t', encoding='windows-1254')
df8 = pd.read_csv('data/rt.movie_info.tsv.gz', delimiter='\t', encoding='windows-1254')

In [11]:
df1.head()

,nconst,primary_name,birth_year,death_year,primary_profession,known_for_titles
0,nm0061671,Mary Ellen Bauder,NaN,NaN,"miscellaneous,production_manager,producer","tt0837562,tt2398241,tt0844471,tt0118553"
1,nm0061865,Joseph Bauer,NaN,NaN,"composer,music_department,sound_department","tt0896534,tt6791238,tt0287072,tt1682940"
2,nm0062070,Bruce Baum,NaN,NaN,"miscellaneous,actor,writer","tt1470654,tt0363631,tt0104030,tt0102898"
3,nm0062195,Axel Baumann,NaN,NaN,"camera_department,cinematographer,art_department","tt0114371,tt2004304,tt1618448,tt1224387"
4,nm0062798,Pete Baxter,NaN,NaN,"production_designer,art_department,set_decorator","tt0452644,tt0452692,tt3458030,tt2178256"

In [12]:
df2.head()

,title,studio,domestic_gross,foreign_gross,year
0,Toy Story 3,BV,415000000.0,652000000,2010
1,Alice in Wonderland (2010),BV,334200000.0,691300000,2010
2,Harry Potter and the Deathly Hallows Part 1,WB,296000000.0,664300000,2010
3,Inception,WB,292600000.0,535700000,2010
4,Shrek Forever After,P/DW,238700000.0,513900000,2010

In [ ]:
df2.head()

In [20]:
## to read tsv files
# df = pd.read_csv('data/rt.movie_info.tsv.gz', delimiter='\t', encoding='windows-1254')